@import '../../../variables';

.ep-content-container {
  margin-left: 140px;
  margin-top: 40px;
}

.ep-content-container-lt-lg {
  margin-left: 40px;
}

.ep-details h1 {
  color: $dark-primary;
}

.ep-details h2 {
  font-weight: lighter;
}

.show-detail-container {
  max-width: 300px;
}

:host >>> .mat-figure {
    justify-content: start !important;
}

h3.detail {
  margin: 10px 0;
}