<div class="video-container" [style.backgroundColor]="'black'">
  <div class="video-inner-container">
    <video
      appOverlay
      #target
      class="video-js"
      controls
      muted
      playsinline
      preload="none"
    ></video>
    <div
      class="big-play-btn-container"
      fxLayout
      fxLayoutAlign="center center"
      (click)="onClick()"
      [fxHide]="!displayBigPlayBtn"
    >
      <div class="icon-container">
        <mat-icon class="icon">play_arrow</mat-icon>
      </div>
    </div>
  </div>
</div>
