<mat-toolbar class="toolbar" color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-start">
    <a routerLink="/">Video</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li [fxHide]="searchBar.searchVisible || isAuthenticated">
        <a (click)="openSignupDialog()">Signup</a>
      </li>
      <li [fxHide]="searchBar.searchVisible || (isAuthenticated)">
        <a (click)="openLoginDialog()">Login</a>
      </li>
      <li [fxHide]="searchBar.searchVisible || !(isAuthenticated)">
        <a (click)="signout()">Logout</a>
      </li>
      <li>
        <app-search-bar
          #searchBar
          (onEnter)="searchBarOnEnter($event)"
        ></app-search-bar>
      </li>
    </ul>
  </div>
</mat-toolbar>