<mat-toolbar color="primary">
  <div fxHide.gt-xs>
    <button mat-icon-button (click)="onToggleSidenav()">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-start">
    <a routerLink="/">Video</a>
  </div>
  <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.xs>
    <ul fxLayout fxLayoutGap="10px" class="navigation-items">
      <li [fxHide]="searchBar.searchVisible">
        <a routerLink="/signup">Signup</a>
      </li>
      <li [fxHide]="searchBar.searchVisible">
        <a routerLink="/login">Login</a>
      </li>
      <li [fxHide]="searchBar.searchVisible">
        <a style="cursor: pointer;">Logout</a>
      </li>
      <li>
        <app-search-bar #searchBar (onEnter)="searchBarOnEnter($event)"></app-search-bar>
      </li>
    </ul>
  </div>
</mat-toolbar>
