<div class="main" fxLayout="column">
  <app-vjs-player
    [options]="{
      autoplay: false,
      controls: true,
      fluid: true,
      sources: [{ src: 'assets/test.mp4', type: 'video/mp4' }]
    }"
  ></app-vjs-player>
  <div
    class="flex-container"
    fxLayout="row"
    fxLayout.lt-md="column"
    fxLayoutAlign="start"
  >
    <div fxFlex="1 1 400px" fxFlexOrder="3" fxFlexOrder.lt-md="1">
      <app-playlist [showId]="showId"></app-playlist>
    </div>
    <div fxFlex="1 0 auto" fxFlexOrder="2">
      <img class="show-img" src="assets/gintama.jpg" />
    </div>
    <div fxFlex="8 8 auto" fxFlexOrder="1" fxFlexOrder.lt-md="2">
      <app-ep-content></app-ep-content>
    </div>
  </div>
</div>
