<app-carousel></app-carousel>
<app-show-list></app-show-list>

<!-- <mat-tab-group [selectedIndex]="selectedIndex" [dynamicHeight]="true">
  <mat-tab *ngIf="latestShows$ | async as shows" label="Featured Shows"
    ></mat-tab>
  <mat-tab *ngIf="filteredShows$ | async as shows" label="Search Result"
    ><app-show-list [shows]="shows"></app-show-list
  ></mat-tab>
</mat-tab-group> -->
<!-- <app-vjs-player [options]="{ autoplay: true, controls: true, sources: [{ src: 'assets/test.mp4', type: 'video/mp4' }]}"></app-vjs-player> -->
