<section
  class="shows-container"
  fxLayout="row wrap"
  fxLayoutAlign="center"
>
  <div  *ngFor="let show of shows">
    <mat-card class="example-card">
      <img mat-card-image class="show-thum" [src]="show.thumImgUrl" />
      <mat-card-content>
        <mat-card-title>{{ show.name }}</mat-card-title>
        <mat-card-subtitle
          >Total number of eps: {{ show.numEps }}<br />
          Total number of seasons: {{ show.numSeasons }}</mat-card-subtitle
        >
      </mat-card-content>
      <mat-card-actions>
        <button mat-icon-button color="accent">
          <mat-icon>thumb_up</mat-icon>
        </button>
        <button mat-icon-button color="primary">
          <mat-icon>share</mat-icon>
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</section>
