<section class="shows-container">
  <mat-grid-list cols="4">
    <mat-grid-tile *ngFor="let show of shows; let i = index">
      <div
        class="show-img-container"
        (mouseover)="showDetails(i)"
        (mouseleave)="showDetails(-1)"
      >
        <img
          class="show-img"
          [src]="show.thumImgUrl"
          [ngStyle]="getImgStyle(i)"
        />
        <div
          [fxShow]="i == displayIdx"
          class="show-details-container"
          fxLayout="column"
          fxLayoutAlign="end start"
        >
          <div class="show-name">{{ show.name }}</div>
          <div class="show-name">{{ show.numEps }} Episodes</div>
          <div class="show-name">{{ show.numSeasons }} Seasons</div>
          <app-rating [rating]="8" [isInteractive]="false"></app-rating>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

  <!-- <mat-grid-list cols="4">
    <mat-grid-tile
      class="tile"
      *ngFor="let show of shows; let i = index"
      (mouseover)="showDetails(i)"
      (mouseleave)="showDetails(-1)"      
    >
      <img class="show-img" [src]="show.thumImgUrl" [ngStyle]="getImgStyle(i)"/>
      <div
        [fxShow]="i == displayIdx"
        class="show-details-container"
        fxLayout="column"
        fxLayoutAlign="start center"
      >
        <div class="show-name">Gintama</div>
        <div class="show-name">Gintama</div>
      </div>
    </mat-grid-tile>
  </mat-grid-list> -->
</section>
