@import "../../../../variables";
.carousel-details-container {
  position: absolute;
  color: $accent;
  bottom: 0;
  margin: 20px;
  z-index: 1;

  .bgFilter {
    background-color: black;
    padding: 20px;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    z-index: -1;
  }
  cursor: pointer;
}

.sub-header {
  opacity: 0.7;
  font-weight: 200;
}
